
    <form method='get' action='/quizes/<%= quiz.id %>/answer'>
    <p><span class='negrita'>Pregunta</span>: <%= quiz.tema %>&nbsp;-&nbsp;<%= quiz.pregunta %></p>
    <br />
    <input type='text' name='respuesta' placeholder='Responda aquí' />
    <input type='submit' value='Enviar' />
    </form>
    <br />
    <p><a href='/quizes/<%= quiz.id %>/comments/new'><button>Nuevo comentario</button></a></p>
    <p class='negrita'>Comentarios:</p>
    <% for(index in quiz.comments){ %>
    	<p class='azul'>- <%= quiz.comments[index].texto %></p>
    <% } %>
    <br />
    
